body {
	font-size: 12px;
	font-family: open sans, Tahoma, Arial;
	background: url(../images/background.jpg);
	margin: 0;
	padding: 0
}

h1 {
	font-size: 34px
}

#container {
	width: 866px;
	margin: 90px auto
}

#content {
	background: #f6f6f6;
	-moz-border-radius-bottom-right: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottom-left: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
	-moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
	box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75)
}

.menu {
	background: #dadada;
	height: 60px;
	position: relative
}

.tabs li {
	height: 72px;
	float: right
}

.tabs {
	height: 116px;
	z-index: 100;
	position: absolute;
	margin: -14px 0 0
}

.tabs li {
	height: 72px;
	float: left
}

.tabs li>a {
	width: 80px;
	font-size: 13px;
	padding: 50px 0 0;
	display: block;
	height: 35px;
	background-repeat: no-repeat;
	text-align: center;
	color: #b9b9b9
}

.tabs li.active {
	background: #485460
}

.tabs li.active a {
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	color: #4bcffa
}

.tabs li .profile-tab {
	background-image: url(../images/profile/profile-icon.png);
	background-position: center 23px
}

.tabs li .resume-tab {
	background-image: url(../images/resume/resume-icon.png);
	background-position: center 23px
}

.tabs li .portfolio-tab {
	background-image: url(../images/portfolio/portfolio-icon.png);
	background-position: center 23px
}

.tabs li .connect-tab {
	background-image: url(../images/connect/connect-icon.png);
	background-position: center 16px
}

.tabs .active .profile-tab {
	background-image: url(../images/profile/profile-icon-active.png)
}

.tabs .active .resume-tab {
	background-image: url(../images/resume/resume-icon-active.png)
}

.tabs .active .portfolio-tab {
	background-image: url(../images/portfolio/portfolio-icon-active.png)
}

.tabs .active .connect-tab {
	background-image: url(../images/connect/connect-icon-active.png)
}

#profile {
	background: #485460;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottom-left: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden
}

.about {
	width: 490px;
	float: left;
	margin: 30px 0 0 20px
}

.about .profile-photo {
	float: left;
	margin: 24px 15px 0 20px;
	-webkit-box-shadow: 0 6px 6px -6px black;
	   -moz-box-shadow: 0 6px 6px -6px black;
	        box-shadow: 0 6px 6px -6px black;
}

.about h1 {
	margin: 31px 0 0;
	color: #4bcffa;
	font-weight: 700;
	line-height: 36px
}

.about h3 {
	font-size: 16px;
	color: #fff;
	margin-top: 11px;
	font-style: italic;
	line-height: 18px
}

.about p {
	font-size: 13px;
	color: #fff;
	margin: 15px 0 0;
	line-height: 20px
}

.basic-info {
	width: 310px;
	float: left;
	margin: 15px 0 0;
	padding: 20px 0 0 20px;
	min-height: 240px;
	margin-left: 10px
}

.basic-info li {
	font-size: 14px;
	margin: 0 0 15px;
	overflow: hidden
}

.basic-info li label {
	color: #4bcffa;
	float: left;
	padding: 4px 7px;
	font-weight: 700
}

.basic-info li span {
	width: 200px;
	color: #fff;
	float: right;
	font-weight: 700
}

#resume {
	padding: 20px;
	overflow: hidden
}

.skills-section,
.resume-section {
	float: left
}

.resume-section {
	width: 460px;
	padding: 0 60px 0 0
}

h3.main-heading {
	font-size: 21px;
	color: #999;
	margin: 0 0 10px;
	text-align: center;
	font-weight: 700
}

.date {
	padding: 10px 0 0
}

.date li {
	margin: 0 0 20px
}

.date li .date-box .date-range {
	font-size: 14px;
	color: #444;
	float: right;
	font-weight: 400;
	line-height: 17px;
	margin: 0 0 0 10px;
	padding: 2px 6px
}

.date li .date-box {
	line-height: 17px;
	margin-left: 11px;
	color: #444;
	font-size: 13px;
	padding-left: 15px
}

.date li .date-box h4 {
	font-size: 15px;
	color: #444;
	line-height: 24px
}

.date li .date-box h5 {
	line-height: 18px;
	font-size: 13px;
	color: #999
}

.date li .date-box p {
	color: #666;
	font-size: 12px;
	margin-top: 5px
}

.skills {
	margin: 25px 0 0;
	overflow: hidden
}

.skills-section {
	width: 305px
}

.skills li {
	margin: 0 0 15px;
	float: left;
	padding: 0 0 0 30px
}

.skills li h4 {
	font-size: 14px;
	color: #444;
	width: 280px;
	float: left
}

#portfolio {
	padding: 0 20px 20px;
	overflow: hidden
}

#portfolio .heading {
	font-size: 21px;
	color: #999;
	text-align: center;
	margin: 0 0 10px;
	padding: 24px 0;
	font-weight: 700
}

#portfolios li {
	width: 180px;
	height: 185px;
	float: left;
	margin: 0 12px 20px 13px;
	text-align: center
}

#portfolios li:hover {
	height: 185px
}

#portfolios img {
	width: 180px;
	height: 120px;
	border: 3px solid #dadada
}

#portfolios img:hover {
	height: 120px;
	width: 180px;
	border: 3px solid #4bcffa;
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg)
}

#portfolios li a {
	text-decoration: none
}

#portfolios li .portfolio-title {
	font-size: 16px;
	color: #999;
	margin: 11px 0 0
}

#portfolios li .desc {
	font-size: 12px;
	color: #999;
	font-style: italic;
	line-height: 25px
}

#connect {
	padding: 30px 0;
	overflow: hidden
}

.contact .main-heading {
	font-size: 21px;
	color: #999;
	font-weight: 700;
	text-align: center;
	margin: 0 0 10px;
	padding: 0
}

.contact {
	float: left;
	width: 810px;
	padding: 0 auto
}

.contact p {
	text-align: center;
}

@media only screen and (min-width:768px) and (max-width:959px) {
	#container {
		width: 750px
	}
	.about {
		width: 410px
	}
	.about h1 {
		line-height: 38px;
		font-size: 30px
	}
	.about h3 {
		font-size: 14px;
		line-height: 14px
	}
	.basic-info {
		width: 280px;
		margin-right: 10px
	}
	.resume-section {
		width: 420px;
		padding-right: 30px
	}
	.skills-section {
		width: 300px
	}
	#portfolios {
		width: 750px
	}
	#portfolios li {
		margin-right: 60px
	}
	.contact {
		width: 720px
	}
}

@media only screen and (min-width:480px) and (max-width:767px) {
	#container {
		width: 470px
	}
	.about {
		width: 420px;
		display: block
	}
	.about h1 {
		line-height: 38px;
		font-size: 30px
	}
	.about h3 {
		font-size: 14px;
		line-height: 14px
	}
	.basic-info {
		margin-top: 0;
		display: block;
		width: 420px;
		background: 0 0;
		border-top: 1px solid #4bcffa
	}
	.tabs {
		padding-left: 5px
	}
	.resume-section {
		width: 430px;
		padding-right: 40px
	}
	.skills-section {
		width: 420px
	}
	.skills li h4 {
		width: 300px;
		list-style-type: circle
	}
	#portfolios {
		width: 450px
	}
	#portfolios li {
		margin: 0 40px 0 0
	}
	.contact {
		margin-top: 20px;
		width: 420px
	}
}

@media only screen and (max-width:479px) {
	#container {
		width: 300px;
		margin: 20px auto
	}
	.about {
		width: 280px;
		margin: 10px 0 15px 10px;
		display: block
	}
	.about .profile-photo {
		margin: 0 20px 0 65px
	}
	.about h1 {
		font-size: 30px;
		line-height: 38px;
		text-align: center
	}
	.about p {
		text-align: center
	}
	.about h3 {
		line-height: 14px;
		font-size: 14px;
		text-align: center
	}
	.basic-info {
		width: 280px;
		background: 0 0;
		margin: 0 0 0 10px;
		padding-left: 0;
		display: block;
		border-top: 1px dashed #4bcffa;
		min-height: 220px
	}
	.basic-info li {
		font-size: 13px
	}
	.tabs {
		padding-left: 0
	}
	.tabs li.active {
		background: 0 0
	}
	.tabs li>a {
		font-size: 14px;
		width: 75px
	}
	#resume {
		padding: 10px
	}
	.resume-section {
		width: 280px;
		padding: 0 40px 0 0
	}
	.skills-section {
		width: 260px
	}
	.skills li h4 {
		width: 200px
	}
	#portfolios {
		width: 280px
	}
	#portfolios li {
		margin: 0 0 0 40px
	}
	.contact {
		margin: 20px 0 0;
		width: 280px;
		padding: 0
	}
}